{
  "nickname": ["quikmn", "fallback1", "anon1337"],
  "preferred_server": "Home",
  "ptt_key": "LSHIFT",
  "audio_processing": {
    "noise_gate": {
      "enabled": false,
      "threshold_db": -40
    },
    "compressor": {
      "enabled": false, 
      "threshold_db": -18,
      "ratio": 3.0
    },
    "makeup_gain": {
      "enabled": false,
      "gain_db": 6
    },
    "preset": "off"
  },
  "servers": {
    "Home": { "ip": "127.0.0.1:4422" }
  }
}