{
  "nickname": ["quikmn", "fallback1", "anon1337"],
  "preferred_server": "Home",
  "ptt_key": "LSHIFT",
  "voice_activation_enabled": true,
  "activation_threshold": 0.015,
  "noise_suppression": true,
  "servers": {
    "Home": { "ip": "127.0.0.1:4422" },
    "Remote": { "ip": "vpn.example.com:4422" }
  }
}
